.skip-to-content-link {
    left: 0%;
    top: 0%;
    position: absolute;
    transform: translateY(-100%);
}

main{
    background-color: lightskyblue;
    height: 100%;

}

p{
    font-size: 30px;
}

header{
    background-color: pink;
    height: 100%;
}

.skip-to-content-link:focus, .skip-to-content-link:active{
    transform: translateY(0%);
}


header h1{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    column-gap: 10px;
    align-items: center;
}

#head{
    justify-content: center;
}

#head{
    animation-name: animation;
    animation-duration: 5s;
}

@keyframes animation{
    from {opacity: 0;}
  to {opacity: 1;}
    
}


.navlinks{
    display: flex;
    flex-direction: column;
    justify-content: start;
    list-style-type: none;
    font-size: larger;
}

li{
    padding: 15px 15px 15px 15px;
    margin: auto auto auto auto;
}

.pic_gallery img:hover{
    border: 8px solid darkmagenta;
}

.pic_gallery img{
    border: 5px dashed darkmagenta;
}

.pic_gallery2 img:hover{
    border: 8px solid darkmagenta;
}

.pic_gallery2 img{
    border: 5px dashed darkmagenta;
}

.pic_gallery3 img:hover{
    border: 8px solid darkmagenta;
}

.pic_gallery3 img{
    border: 5px dashed darkmagenta;
}


a.active{
    color: black;
    text-decoration: none;
}

div img{
    width: 80%;
    margin: auto;
}

.pic_gallery{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: space-around;    
}

.pic_gallery2{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    justify-content: space-around;
   
}

.pic_gallery3{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 75px;
}

@media (prefers-reduced-motion) {
    #head{
        animation-name: animation;
        animation-duration: 0s;
    }

  }


@media all and (min-width: 768px){

    .navlinks{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        font-size: larger;
    }

    .pic_gallery2 img{
        width: auto;
    }

    .pic_gallery{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: space-around;

    }


    .pic_gallery2{
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: auto auto;
        margin-left: 10%;
        margin-right: 10%;
        align-items: center;
        justify-content: space-around;
       
    }

    .pic_gallery2 div{
        flex-basis: 33%;
    }

    .pic_gallery3{
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: space-around;
    }
}


@media all and (min-width: 900px){

    .navlinks{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
        font-size: larger;
    }

    .picgallery2 img{
        width: auto;
    }

    .pic_gallery{
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
    }

    .pic_gallery2{
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: auto auto auto;
        margin-left: 10%;
        margin-right: 10%;
        align-items: center;
        justify-content: space-around;
       
    }

    .pic_gallery2 div{
        flex-basis: 33%;
    }

    .pic_gallery3{
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        justify-content: space-around;
    }
}